@charset "UTF-8";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: silver;
	background-color: black;
	padding-left: 15px;
	margin-top: 0px;
	margin-botom: 10px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	position: absolute;
	left: 50%;
	width:1000px;
	margin-left: -500px;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	border-bottom: 1px solid white;
	margin-top: 50px;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-bottom: 0px;
}

a {
	color: black;
	text-decoration: none;
}